@import "colors.lessimport";
@import "fonts.lessimport";

// Containers //
*::selection {
  background: @verylight;
}

.container {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 20px;
  min-height: 100%;
  position: relative;
}

footer {
  text-align: left;
  width: 100%;
  height: 220px;
  line-height: 100px;
  clear: both;
  background: @heavy;
  position: absolute;
  z-index: -20;
}

footer .footer-940 {
  width: 932px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 150px;
  z-index: -15;

  color: #FFF;
  font-size: 22px;
  font-family: @font;
  text-align: center;
}

.clearboth {
  clear: both;
}

#shell {
  width: 400px;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main {
  font-family: @font;
  font-weight: 400;
  font-size: 22px;
  color: @text;
  line-height: 1.45;
}

// Specifics //
// Bullet lists
ul {
  list-style-type: circle;
  margin: 2em;

  li {
    margin-left: 2em;
    padding-left: 0.7em;
  }
}


// Links
a {
  color: @medium;
  text-decoration: none;
  word-spacing: 0.01em;

  &:hover, &:focus {
    border-bottom: 1px dotted;
  }
}

// Special internal links have data-terminal attr with command
[data-terminal] {
  color: @internal;
  font-family: monospace;
}

// Paragraphs
p {
  display: block;
  margin-bottom: 31px;
}

// Text styles

em {
  font-style: italic;
}

strong {
  font-style: oblique;
  font-weight: 600;
}

// Headings
h1, h2, h3 {
  color: @heavy;
  font-family: @heading-font;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.0em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: @text;
}

// Code
code {
  font-family: monospace;
  font-size: 0.88em;
  border-radius: 3px;
  color: #000;
  border: 1px solid @internal;
}

pre code {
  display: block;
  padding: 8px;
}

