<head>
  <title>The world is changing, I stay geeky...</title>
  <script type="text/x-mathjax-config">  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
  <script type="text/javascript"src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
</head>
<body>
  <div class="container">
    {{> shell}}
    {{> main}}
  </div>
  {{> footer}}
</body>


<template name="main">
  <div class="main">
    {{renderPage}}
  </div>
</template>

<template name="shell">
  <div id="shell"></div>
</template>

<template name="footer">
<footer>
  <div class="footer-940">
    
    Slava Kim. This website is under development, don't get too excited!

  </div>
  <div class="clearboth"></div>
</footer>
</template>

